div {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

div:hover {
    border-color:red;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}

.destaque {
    background-color: #800 !important;
    color: #fcc !important;
    border-color:red !important;
}