@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

button {
    width: 150px;
    height: 40px;
    background-color: #025;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
    
}

.selecionado {
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 300px;
    background-color: lightgrey;
    border: 3px solid black;
    width: 300px;
    margin: 5px;
    padding: 10px;
}
