@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    width: 100vw;
}

.caixaG {
    display: flex;
    background-color: rgb(236, 236, 236);
    width: 350px;
    height: 600px;
    margin: 5px;
    border: 4px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.caixa > label{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.2em;
}

.caixa > input {
    height: 20px;
    width: 200px;
}

#btnAdd_d {
    margin-left: 25px;
}

#btnAdd_a {
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    background-color: #025;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #444;
    align-items: center;
    width: 200px;
    border: 3px solid gray;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 10px;
    cursor: pointer;
}

.selecionado {
    background-color: #800 !important;
    color: #fcc !important;
    border-color: red;
}

.radio {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}